<div class="container">
	<div class="jumbotron text-center homepage_content">
		<h1></h1>
		<h1> project <i class="el el-laptop el-1x"></i> laptop</h1>
		<h3> Let's do something cool together </h3> 
		<br />

		<div class="media">
  			<div class="media">
    			<a href="#">
      				<img class="media-object circle" src="cb.png" alt="Me!">
    			</a>
  		</div> 

  		<br />
  		<br />
		<p> My name is Cameron. </p>
		<p> I just graduated from Stanford University, and I like to create things. </p>
		<p> However, though my 5-year-old laptop tries its best, it isn't quite cutting it anymore when it comes to photography, graphic design, and filmmaking. </p>
		<h3 class="highlight">That's where you come in.</h3>
		<p> I want you to join me in doing something a little out of the ordinary. </p>
		<p> Forget billboards and online advertisements. Turn my new laptop into your unique advertising space. </p>
		<p> <span class="highlight">It's simple. </span> I'll laser-engrave your logo on the surface of my new MacBook Pro.</p>
	</div>
</div>