<div class="container">
	<div class="jumbotron text-center homepage_content">
		<h2> Thank you for your message! </h2>
		<p> I will contact you soon. </p>
		<%= link_to "Back to the Homepage", root_path %>
	</div>
</div>